<div th:replace="fragments/header.html"></div>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Where luck meets legend</h1>
            <p class="lead text-muted">Need a few dice to play with friends or add to your evergrowing collection?
                Our handcrafted gaming dice are designed for tabletop adventurers who demand both beauty and balance.
            </p>
            <p>
                <a href="/products" class="btn btn-primary my-2">Dice</a>
            </p>
        </div>
    </section>

</main>

<div th:replace="fragments/footer.html"></div>
