<div th:replace="~{fragments/header.html}"></div>

<main>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Register</h1>
            <p th:if="${param.error}">Invalid username and password</p>
            <form class="auth-form form-register"
                  th:action="@{/register}"
                  th:object="${registerdto}"
                  method="post">
                <label class="form-label">
                    <span>Username<sup>*</sup></span>
                    <input type="text" id="username" name="username" required/>
                </label>
                <label class="form-label">
                    <span>Password<sup>*</sup></span>
                    <input type="password" id="password" name="password" required/>
                </label>
                <label class="form-label">
                    <span>Confirm password<sup>*</sup></span>
                    <input type="password" id="confirmPassword" name="confirmPassword" required/>
                </label>
                <input type="submit" class="btn btn-primary my-2" value="Submit"/>
            </form>
        </div>
    </section>

</main>

<div th:replace="~{fragments/footer.html}"></div>