<div th:replace="fragments/header.html"></div>

<main>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Update password</h1>
            <p th:if="${param.error}">Invalid credentials</p>
            <p th:if="${success}">Password updated successfully</p>
            <form class="form-password"
                  th:action="@{/api/customers/password/update}"
                  th:object="${passwordupdatedto}"
                  method="post">
                <label class="form-label">
                    <span>Username<sup>*</sup></span>
                    <input type="text" id="username" name="username" required/>
                </label>
                <label class="form-label">
                    <span>Former password<sup>*</sup></span>
                    <input type="password" id="formerpassword" name="formerpassword" required/>
                </label>
                <label class="form-label">
                    <span>New password<sup>*</sup></span>
                    <input type="password" id="password" name="password" required/>
                </label>
                <input type="submit" class="btn btn-primary my-2" value="Submit"/>
            </form>
        </div>
    </section>

</main>

<div th:replace="fragments/footer.html"></div>