:root {
    --jumbotron-padding-y: 3rem;
}

a {
    color: inherit;
    font-weight: bold;
}

a:hover {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
    color: #343a40;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-inline: clamp(2rem, -10.973rem + 16.2162vw, 5rem);
}

.single-card-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    max-width: 400px !important;
}

.img-title-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

.card-price {
    font-size: 24px;
    font-weight: bold;
}

.back-section {
    display: flex;
    margin-inline: 4rem;
    color: black;
    margin-block: 2rem;
    font-weight: bold;
}